@model BlogHosting.Models.PageNavigationViewModels.BlogsDetailsPageViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Details";
}
<div>

    <img class="rounded img-responsive" src="@Url.Content(Model.Blog.ImagePath ?? Model.Blog.BlogStyle.DefaultImagePath)" alt="">

    @if ((await AuthorizationService.AuthorizeAsync(User, Model.Blog, "OwnerPolicy")).Succeeded)
    {
        <h2>
            @Model.Blog.BlogName
            <a asp-action="Edit" asp-route-id="@Model.Blog.BlogId"><i class="fas fa-pencil-alt" style="cursor: pointer; color: black; margin-right: 1rem;"></i></a>
        </h2>
        <p>
            <a asp-action="Create" asp-controller="Posts" asp-route-blogId="@Model.Blog.BlogId">@Localizer["Create New Post"]</a>
        </p>
    }
    else
    {
        <h2>
            @Model.Blog.BlogName
        </h2>
    }
</div>

@if (Model.Posts.Count() == 0)
{
    <h3>@Localizer["This blog is empty."]</h3>
}
else
{
    <div class="src-area">
        <form>
            <button class="src-btn" type="submit"><i class="fas fa-search"></i></button>
            <input id="searchInput" class="src-input" type="text" placeholder="@Localizer["Search for..."]">
        </form>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col col-xs-12">
            <div id="postsContainer" class="blog-grids">
                <partial name="~/Views/Posts/PostPartial.cshtml" model="@Model.Posts" />
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    @if (Model.PageViewModel.PageNumber > 3)
    {
        <a asp-action="Details" asp-route-id="@Model.Blog.BlogId" asp-route-page="1" class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            @Localizer["To start"]
        </a>
    }

    @{
        int i;
        for (i = Model.PageViewModel.PageNumber - 2 < 2 ? 1 : Model.PageViewModel.PageNumber - 2; 
            i <= Model.PageViewModel.TotalPages && i <= Model.PageViewModel.PageNumber + 3; i++)
        {
            @if (i == Model.PageViewModel.PageNumber + 3)
            {
                if (i != Model.PageViewModel.TotalPages)
                {
                    <text>...</text>
                }
                <a asp-action="Details" asp-route-id="@Model.Blog.BlogId" asp-route-page="@Model.PageViewModel.TotalPages" class="btn btn-default btn">@Model.PageViewModel.TotalPages</a>
                break;
            }
            @if (i == Model.PageViewModel.PageNumber)
            {
                <a asp-action="Details" asp-route-id="@Model.Blog.BlogId" asp-route-page="@(i)" class="btn btn-info btn">@i</a>
            }
            else
            {
                <a asp-action="Details" asp-route-id="@Model.Blog.BlogId" asp-route-page="@(i)" class="btn btn-default btn">@i</a>
            }
        }
        if (Model.PageViewModel.PageNumber < Model.PageViewModel.TotalPages)
        {
            <a asp-action="Details" asp-route-id="@Model.Blog.BlogId" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="btn btn-default btn">
                @Localizer["Next"]
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    }
</div>

@section Scripts {
    <script>
        function Search(inputText) {
            $.ajax({
                url: @Model.Blog.BlogId + "/Search",
                type: 'POST',
                data: JSON.stringify(inputText),
                contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                success: (result) => {
                    $("#postsContainer").html(result);
                }
            })
        }

        $(document).ready(() => {
            $("#searchInput").keyup(() => {
                const t = $('#searchInput').val();
                Search(t);
               
            });
            
        });

         document.body.style.background = "@Model.Blog.BlogStyle.BackgrounsColor";
                document.body.style.color = "@Model.Blog.BlogStyle.TitlesFontColor";
                document.body.style.fontFamily = "@Model.Blog.BlogStyle.TitlesFontName";
    </script>
}
