@model Blog

@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure you want to delete this Blog?</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            <label>Blog name</label>
        </dt>
        <dd>
            <p>@Model.BlogName</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <p>@Model.Description</p>
        <dt>
            <label>Created date</label>
        </dt>
        <dd>
            <p>@Model.CreatedDateTime.ToShortDateString()</p>
        </dd>
        <dt>
            <label>Updated date</label>
        </dt>
        <dd>
            <p>@Model.UpdatedDateTime.ToShortDateString()</p>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="BlogId" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>
