@model BlogHost.Models.PageNavigationViewModels.PageViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div class="container text-center">
    @if (Model.PageNumber > 3)
    {
    <a asp-action="Index" data-pageNumber="1" asp-route-page="1" class="btn btn-default pageNavigationBtn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        @Localizer["To start"]
    </a>
    }
    @{
        int i;
        for (i = Model.PageNumber - 2 < 2 ? 1 : Model.PageNumber - 2; i <= Model.TotalPages && i <= Model.PageNumber + 3; i++)
        {
        @if (i == Model.PageNumber + 3)
            {
                if (i != Model.TotalPages)
                {
        <text>...</text>
                }
        <a asp-action="Index" data-pageNumber="@Model.TotalPages" asp-route-page="@Model.TotalPages" class="btn btn-default pageNavigationBtn">@Model.TotalPages</a>
                break;
            }
        @if (i == Model.PageNumber)
            {
        <a asp-action="Index" data-pageNumber="@(i)" asp-route-page="@(i)" class="btn btn-info pageNavigationBtn">@i</a>
            }
            else
            {
        <a asp-action="Index" data-pageNumber="@(i)" asp-route-page="@(i)" class="btn btn-default pageNavigationBtn">@i</a>
            }
        }
        if (Model.PageNumber < Model.TotalPages)
        {
        <a asp-action="Index" data-pageNumber="@(Model.PageNumber + 1)" asp-route-page="@(Model.PageNumber + 1)" class="btn btn-default pageNavigationBtn">
            @Localizer["Next"]
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
        }
    }
</div>