@model BlogH.Models.Post
@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">@Model.Title.ToUpper()</h1>
            <!-- Author -->
            <p class="lead">
                by @Model.Author.UserName
            </p>
            <!-- Date/Time -->
            <p>Posted on @Model.CreatedDateTime.ToShortDateString() at @Model.CreatedDateTime.ToShortTimeString()</p>
            <hr>
            <!-- Preview Image -->
            <img class="rounded img-responsive" src="~/images/slider-1.jpg" alt="">
            <hr>
            <!-- Post Content -->

            <p>@Model.Text</p>
            <hr>
            <ul class="tags">
                <li><a href="#">Mnual</a></li>
                <li><a href="#">Liberty</a></li>
                <li><a href="#">Recommendation</a></li>
                <li><a href="#">Inspiration</a></li>
            </ul>
            <div class="post-icons-area">
                <ul class="post-icons">
                    <li class="like">
                        <a href="#!" class="likeButton" data-postId="@Model.PostId">
                            <like-icon post-id="@Model.PostId"></like-icon>
                            <span id=@("likesNumber" + @Model.PostId)>@(Model.Likes?.Count ?? 0)</span>
                        </a>
                    </li>
                    <li><a href="#comments"><i class="fas fa-comment"></i>@(Model.Comments?.Count ?? 0)</a></li>
                </ul>
            </div>
            <hr>
            <!-- Comments Form -->
            <div class="card my-4">
                <h4 class="card-header">Leave a Comment:</h4>
                <div class="card-body">
                    <form asp-action="PostComment">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <textarea id="commentText" name="Text" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Text" class="text-danger"></span>
                            <input id="parentCommentId" name="parentCommentId" type="hidden" data-parentId="null" />
                        </div>
                        <button type="submit" class="btn btn-primary">Post comment</button>
                    </form>
                </div>
            </div>
            <h3 id="comments">Comments(@($"{Model.Comments?.Count ?? 0}"))</h3>

            @if (Model.Comments?.Count > 0)
            {
                <br />
                foreach (var comment in Model.Comments.Where(m => m.ParentCommentId == 0))
                {
                    <partial name="~/Views/Posts/CommentPartial.cshtml" model="@comment" />
                }
            }
        </div>

        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div>

        </div>
    </div>
</div>