@model BlogH.Models.Post
@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">@Model.Title.ToUpper()</h1>
            <!-- Author -->
            <p class="lead">
                by @Model.Author.UserName
            </p>
            <!-- Date/Time -->
            <p>Posted on @Model.CreatedDateTime.ToShortDateString() at @Model.CreatedDateTime.ToShortTimeString()</p>
            <hr>
            <!-- Preview Image -->
            <img class="rounded img-responsive" src="~/images/slider-1.jpg" alt="">
            <hr>
            <!-- Post Content -->

            <p>@Model.Text</p>
            <hr>
            <ul class="tags">
                <li><a href="#">Mnual</a></li>
                <li><a href="#">Liberty</a></li>
                <li><a href="#">Recommendation</a></li>
                <li><a href="#">Inspiration</a></li>
            </ul>
            <div class="post-icons-area">
                <ul class="post-icons">
                    <li class="like">
                        <a id="likeButton" data-postId="@Model.PostId">
                            <i id="iconTest" class="fas fa-heart"></i>
                            <span id="likesNumber">@(Model.Likes?.Count ?? 0)</span>
                        </a>
                    </li>
                    <li><a href="#"><i class="fas fa-comment"></i>@(Model.Comments?.Count ?? 0)</a></li>
                </ul>
            </div>
            <hr>
            <!-- Comments Form -->
            <div class="card my-4">
                <h4 class="card-header">Leave a Comment:</h4>
                <div class="card-body">
                    <form asp-action="PostComment">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <textarea name="Text" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Post comment</button>
                    </form>
                </div>
            </div>
            <h3>Comments(@($"{Model.Comments?.Count ?? 0}"))</h3>

            @if (Model.Comments?.Count > 0)
            {
                <br />
                foreach (var comment in Model?.Comments)
                {
                    <div class="media mb-4 commnets-area">
                        <div class="media-left">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        </div>
                        <div class="media-body">
                            <h4 class="mt-0">
                                @comment.Author.UserName
                                <small>
                                    <i>Posted on @comment.CreatedDate.ToShortDateString() at @comment.CreatedDate.ToShortTimeString()</i>
                                </small>
                            </h4>

                            @comment.Text
                        </div>
                        <div class="media-right">
                            <h5 class="reply-btn"><a href="#"><b>REPLY</b></a></h5>
                        </div>
                    </div>
                    <br />
                }
            }
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/setLike.js"></script>