@model List<BlogH.Models.Comment>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@foreach (var comment in Model)
{
    <div class="media mb-4 commnets-area">
        <div class="media-left">
            <img class="avatar" style=" width: 50px; height: 50px;" src="@Url.Content(comment.Author.AvatarPath ?? "~/Avatars/default.png")">
        </div>
        <div class="media-body">
            <h4 class="mt-0">
                @comment.Author.UserName
                <small>
                    <i>@Localizer["Posted on"] @comment.CreatedDate.ToShortDateString() @Localizer["at"] @comment.CreatedDate.ToShortTimeString()</i>
                </small>
                @if ((await AuthorizationService.AuthorizeAsync(User, comment, "OwnerPolicy")).Succeeded
                || (await AuthorizationService.AuthorizeAsync(User, comment.Post.Blog, "ModeratorPolicy")).Succeeded)
                {
                    <small>
                        <a href="!#" class="text-primary deleteBtn" id="@comment.CommentId">@Localizer["Delete"]</a>
                    </small>
                }
            </h4>
            @comment.Text
        </div>
        <div class="media-right">
            <h5 class="reply-btn"><a href="#!" class="replyButton" data-parentId="@comment.CommentId" data-username="@comment.Author.UserName"><b>@Localizer["Reply"]</b></a></h5>
        </div>
        @if (comment.ChildComments != null)
        {           
            <partial name="~/Views/Posts/CommentPartial.cshtml" model="@comment.ChildComments" />
        }
    </div>

}
